.work-center-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 380px;
  height: 100%;
  background-color: white;
  border-right: 2px solid rgba(230, 235, 240, 1);
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.work-center-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.work-center-row {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(230, 235, 240, 1);
  background-color: white;
  pointer-events: none;

  &:first-child {
    margin-top: 52px;
  }
}

.work-center-name {
  font-size: 14px;
  font-weight: 600;
  color: rgba(33, 43, 54, 1);
}
