* {
  font-family: Circular-Std, sans-serif;
  font-weight: 500;
}
.naologic-logo {
  position: relative;
  top: 20px;
  left: 0;
}
.page-title {
  position: relative;
  margin-top: 65px;
  font-family: Circular-Std;
  font-size: 24px;
  font-weight: 500;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 100px;
  overflow: hidden;
}
